.body-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.visually-hidden {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

.fonts-container__wrapper {
    border: 2px solid lightgrey;
    border-radius: 6px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tabs-list {
    list-style: none;
    margin: 0;
    padding: 0;
    padding-right: 20px;
    margin-bottom: 15px;
    display: flex;
    justify-content: flex-end;
    align-self: flex-end;
}

.tabs-list__item {
    margin-right: 15px;
    cursor: pointer;
    color: #cbcaca;
    transition-duration: 0.3s;
}

.tabs-list__item:last-child {
    margin-right: 0;
}

.tabs-list__item--active {
    color: orangered;
}

.tabs-list__item:hover,
.tabs-list__item:focus {
    opacity: 0.8;
}

.tabs-list__item:active {
    opacity: 0.5;
}

.font-list {
    display: flex;
    flex-direction: column;
}

.highlighted-font {
    display: flex;
    flex-direction: column;
    height: 100%;
    min-width: 45%;
}

.highlighted-font__label {
    width: 170px;
    transition-duration: 0.3s;
}

.highlighted-font__imagelike-wrapper {
    border: 1px solid black;
    border-radius: 12px;
    min-width: 140px;
    width: 140px;
    height: 140px;
}

.highlighted-font__imagelike-block {
    display: flex;
    align-items: flex-end;
    height: 108px;
    border: 4px white solid;
    background-color: green;
    padding: 12px;
    border-radius: 12px;
}

.highlighted-font__imagelike-letter {
    margin: 0;
    font-size: 36px;
    opacity: 0.5;
    color: white;
}

.highlighted-font__text {
    margin-top: 25px;
    padding-left: 20px;
    position: relative;
}

.highlighted-font__text:before {
    position: absolute;
    content: "";
    display: block;
    width: 8px;
    height: 8px;
    top: 5px;
    left: 7px;
    background-color: gray;
    border-radius: 50px;
}

.font-list__item {
    margin-bottom: 20px;
}

.font-list__item-input,
.highlighted-font__input {
    display: none;
}

.font-list {
    list-style: none;
    padding: 0;
    margin: 0;
    justify-content: space-between;
}

.font-list__item-label {
    display: flex;
    transition-duration: 0.3s;
}

.font-list__imagelike-wrapper {
    margin-right: 20px;
    border: 1px solid black;
    border-radius: 12px;
    width: 85px;
    min-width: 85px;
    height: 85px;
}

.font-list__imagelike-block {
    display: flex;
    align-items: flex-end;
    height: 61px;
    border: 4px white solid;
    padding: 8px;
    border-radius: 12px;
}

.font-list__imagelike-letter {
    margin: 0;
    font-size: 18px;
    opacity: 0.5;
    color: white;
}

.font-list__imagelike-block--pink {
    background-color: pink;
}

.font-list__imagelike-block--blue {
    background-color: blue;
}

.font-list__item-text {
    position: relative;
    margin: 0;
    margin-top: 5px;
    padding-left: 20px;
}

.font-list__item-text:before {
    position: absolute;
    content: "";
    display: block;
    width: 8px;
    height: 8px;
    top: 5px;
    left: 7px;
    background-color: gray;
    border-radius: 50px;
}

.font-list__item-label input:checked ~ .font-list__imagelike-wrapper,
.font-list__item-label input:checked ~ .font-list__item-text,
.highlighted-font__label input:checked ~ .highlighted-font__imagelike-wrapper,
.highlighted-font__label input:checked ~ .highlighted-font__text{
    opacity: 0.5;
}

.font-list__item-label:hover,
.highlighted-font__label:hover {
    opacity: 0.7;
}

.content {
    display: none;
    min-height: 240px;
    width: 672px;
}

.content--active {
    display: flex;
}

.buy-fonts__content {
    justify-content: center;
    align-items: center;
}

@media (max-width: 768px) {
    .content {
        width: auto;
    }

    .fonts-container__wrapper {
        padding: 20px;
    }

    .fonts-container__content {
        flex-direction: column;
    }

    .highlighted-font {
        margin-bottom: 20px;
    }

    .highlighted-font__label {
        display: flex;
        width: auto;
    }

    .highlighted-font__imagelike-wrapper {
        margin-right: 20px;
        min-width: 85px;
        width: 85px;
        height: 85px;
    }

    .highlighted-font__imagelike-block {
        height: 61px;
        padding: 8px;
    }

    .highlighted-font__imagelike-letter {
        font-size: 16px;
    }
}
