.body-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.visually-hidden {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

.fonts-container {
    border: 2px solid lightgrey;
    border-radius: 6px;
    padding: 40px;
}

.tabs-list {
    list-style: none;
    margin: 0;
    padding: 0;
    padding-right: 20px;
    margin-bottom: 15px;
    display: flex;
    justify-content: flex-end;
}

.tabs-list__item {
    margin-right: 15px;
    cursor: pointer;
    color: #cbcaca;
    transition-duration: 0.3s;
}

.tabs-list__item:last-child {
    margin-right: 0;
}

.tabs-list__item--active {
    color: orangered;
}

.tabs-list__item:hover,
.tabs-list__item:focus {
    opacity: 0.8;
}

.tabs-list__item:active {
    opacity: 0.5;
}
